.movshearch {
    position: relative;
}

.bi-arrow-left-circle-fill {
    position: absolute;
    font-size: 60px;
    color: white;
    left: 50px;
    top: 30px;
}

.bi-arrow-left-circle-fill:hover {
    font-size: 70px;
    left: 45px;
    top: 25px;
}

.text-search {
    color: white;
}