.continue-card.card {
    width: 402px !important;
    height: 170px !important;
    border-radius: 20px !important;
    overflow: hidden;

    --bs-card-border-width: 0px !important;
    --bs-card-bg: transparent !important;
}

/* .cont-img {
    transition: all 0.2s ease-in-out;
} */

/* .cont-img:hover {
    transform: scale(1.8);
} */

.capa {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* fill */
    background: rgba(51, 51, 51, 0.9);
    /* blur */
    backdrop-filter: blur(2.5px);
    border-radius: 20px;

    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
}

figure:hover > .capa {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

.sub-capa {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 349px;
    height: 127px;
    overflow: hidden;
}

.capa-title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    /* identical to box height */
    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
}

.capa-country {
    /* Country: */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    color: #CACACA;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.capa-overview {
    text-overflow: ellipsis;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */
    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.container .cont-row {
    --bs-gutter-x: 1.9rem;
}

.container-eye {
    position: absolute;
    
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 5px;

    width: 40px;
    height: 13px;
    top: 11px;
    right: 20px;
}

.container-eye .bi-eye {
    position: absolute;
    font-size: 8px;
    color: #FFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    -webkit-text-stroke-width: 0.07px;
}

.container-eye .title-eye {
    position: absolute;
    right: 0;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    /* identical to box height */
    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.continue-sub-card {
    /* Rectangle 3 */
    position: absolute;
    width: 402px;
    height: 61.2px;
    bottom: 0;
    /* fill */
    background: rgba(255, 255, 255, 0.15);
    /* blur */
    backdrop-filter: blur(2.5px);
    border-radius: 10px 10px 20px 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
    
}

.continue-container-play {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 15px;
    
    position: absolute;
    width: 347.31px;
    height: 46px;
}

.bi-play-circle-fill {
    position: absolute;
    font-size: 28px;
    color: #C4C4C4;
    z-index: 3;
}

.bi-play-circle {
    font-size: 28px;
    color: #FFF;
}

.container-text {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 3px;
    width: 50%;
    /* Inside auto layout */
    flex: none;
    order: 1;
}

.title-movie {
    width: 84px;
    height: 14px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    /* identical to box height */
    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.country {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    color: #CACACA;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.release-date {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    color: #CACACA;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.container-sup-dur {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 70px;
    height: 24px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    border-left: 2px solid;
    border-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.51) 48.96%, rgba(255, 255, 255, 0) 100%) 1;
}

.continue-container-duration {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    gap: 10px;

    width: 60px;
    height: 19px;

    background: #FFFFFF;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.duration {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    /* identical to box height */
    color: #2C383B;

    /* Inside auto layout */
    flex: none;
    order: 0;
}