.Up {
    height: 420px;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.title-up {
    /* New trailers */
    position: absolute;
    left: 50px;
    top: 34px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}